nav a.active{
    color: #EEFF25 !important;
    background: none !important;
    text-decoration: underline !important;
    font-weight:  bold !important;
        
}
nav a{
    font-weight: 500;
}
nav a:hover{
    background: none !important;
    color: #EEFF25 !important;
}
.logout{
    background: none !important;
}
